<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AT.MicroFlash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ConnStrProfile" value="server=127.0.0.1;user id=root;password=Lenovo;database=system.wafer.2;Connect Timeout=30;Min Pool Size=10;Max Pool Size=30;SslMode=None;" />
		<add key="ConnStrLibrary" value="server=127.0.0.1;user id=root;password=Lenovo;database=recipe.wafer.2;Connect Timeout=30;Min Pool Size=10;Max Pool Size=30;SslMode=None;" />
		<add key="debug" value="true" />
		<add key="simulate" value="false" />
		<add key="Color4Line" value="false" />
		<add key="FiducialNSize" value="1.5" />
		<!--Options :STORM2000、STROM2000S-->
		<add key="MachineType" value="STM2KS" />
		<add key="IROWS" value="80" />
		<add key="PW" value="8" />
		<!-- 检测未消费的消息上限,目前暂不使用 -->
		<add key="unconsumedMessageWarnningThreshold" value="100000" />
		<add key="checkUnconsumedMessageInterval" value="10000" />
		<add key="save_orig_img_enable" value="false" />
		<add key="save_orig_img_path" value="c:/orig" />
		<add key="save_grid_img_enable" value="false" />
		<add key="save_grid_img_path" value="c:/grid" />
		<add key="data_path" value="E:\src\GuiltySpark\app.data\" />
		<add key="remain_radio" value="1.0" />
		
		<!-- 检测未消费的消息上限,目前暂不使用 -->
		<!--反方向扫描补偿像素数,调整方法：先将此值设置为0，采集图片，条带0和条带1比较，条带0在左侧，此处填写配准后Beyond Compare的Y的值 -->
		<add key="ReverseScanCompensatePixels" value="135" />
		<!--网口面阵相机IP地址,该配置已移至相机插件 -->
		<!--<add key="AreaCamIP" value="10.0.0.206" />-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="DIE2DB_APP" value="E:\storm2000\Project-Strom_2.5.1-beta\bin" />
	</appSettings>
	<userSettings>
		<AT.MicroFlash.Properties.Settings>
			<setting name="ATDDefualtFolder" serializeAs="String">
				<value />
			</setting>
			<setting name="GDSViewUC" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ATDDataPrepareUC" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SettingDataPrepareWDUC" serializeAs="String">
				<value>False</value>
			</setting>
		</AT.MicroFlash.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="halcondotnet" publicKeyToken="4973bed59ddbf2b8" />
				<!--Halcondotnet dll, Basic Version:8.0.0.0 -->
				<bindingRedirect oldVersion="8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" culture="neutral" publicKeyToken="c5687fc88969c44d" />
				<codeBase version="5.0.7.0" href="mysql507\MySql.Data.dll"></codeBase>
				<codeBase version="8.0.20.0" href="MySql.Data.dll"></codeBase>
				<bindingRedirect oldVersion="0.0.0.0-8.0.20.0" newVersion="8.0.20.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>